body {
	background-color: #0f1119;
	padding: 10%;
	padding-bottom: 0;
	color: #bbb;
}

.jumbotron {
	background-color: #1e2232;
}

.container {
	max-width: 960px;
}

.lead {
	font-size: 1.4rem;
}

.modal-dialog {
	max-width: 1000px;
}

.close {
	color: white;
}

.close:hover {
	color: #2c75ff;
}

.close:active {
	color: #e722e7;
}

.modal-content {
	background-color: #0f1119;
}

.modal-header {
	background-color: #151823;
	border-bottom: 1px solid #0f1119;
}

.modal-body {
	background-color: #1e2232;
	scrollbar-color: #151823 #0f1119;
}

.modal p {
	text-align: justify;
}

.copyrighted-badge {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.copyrighted-badge img {
	border-radius: 5px;
}

a {
	color: #e722e7;
	text-decoration: none;
}

a:hover {
	color: #2c75ff;
	text-decoration: underline;
}

hr {
	border-top: 1px solid #bbb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
}
